[submodule "_includes/fabric-systems"]
	path = _includes/fabric-systems
	url = https://github.com/eclipse-researchlabs/brain-iot-fabric-systems.git
	branch = main
[submodule "_includes/admin-user-interface"]
	path = _includes/admin-user-interface
	url = https://github.com/eclipse-researchlabs/brain-iot-admin-user-interface.git
	branch = main
